{% extends "base.html" %}

    {% block content %}
    <div class="relative w-full flex flex-col rounded-2xl shadow-lg p-4 mt-4">
        <h3 class="text-xl font-semibold text-gray-800 my-2">New post 
            {% if user.id == studio.author_id %} 
            <a href="{% url 'posts:post_update' studio.slug %}" title="Изменить" class="float-end">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          {% endif %}
        </h1>
        </h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <div class="space-y-2">
                {% if form.instance.image %}
                    <div class="mb-2">
                        <img src="{{ form.instance.image.url }}" 
                             alt="Current image" 
                             class="w-32 h-32 object-cover rounded-lg">
                        <label class="block mt-2 text-sm text-gray-500">
                            <input type="checkbox" name="image-clear"> Remove current image
                        </label>
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="font-semibold bg-orange-600 text-white rounded-lg shadow-sm px-4 py-2 mt-4">{% if object %}Update{% else %}Create{% endif %} Post</button>
        </form>
    </div>
    {% endblock %}